@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 14px;
}

body {
	font-family: "Prompt", sans-serif;
}

h1,
h2 {
	font-size: 2.5rem;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 4px;
}

h3 {
	font-size: 1.25rem;
	letter-spacing: 1.5px;
	font-weight: 600;
}

img,
svg {
	width: 100%;
}

nav {
	background-color: #1a2456;
	color: #ffbba6;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 98%;
	top: 1%;
	left: 1%;
	margin: 0 auto;
	padding: 0.5rem;
	z-index: 10;
}

footer {
	background-color: #1a2456;
	color: #ffbba6;
	font-size: 0.9rem;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: #1a2456;
}

input {
	background-color: transparent;
	border: #ffbba6 1px solid;
	padding: 0.3rem 0.5rem;
	color: #ffbba6;
	font-size: 1rem;
}

li {
	list-style: none;
}

.left-side-nav {
	display: flex;
}

.right-side-nav,
.nav-currency {
	gap: 1rem;
	align-items: center;
}

.nav-currency {
	margin-right: 1rem;
}

.hero-section {
	padding: 10rem 1rem;
	padding-bottom: 2rem;
	text-align: center;
	color: #ffbba6;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://monogramcc.com/static/9a0b554db1990565457610c5f83b3ad7/a464d/shop_cta_xl_896f6b8270.jpg");
	background-position: center;
}

.hero-text {
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
}

.hero-text p {
	font-size: 1.25rem;
	font-weight: 300;
}

.hero-section svg {
	width: 50px;
	height: auto;
	margin-top: 4rem;
	color: white;
}

main section {
	margin: 1rem 0;
}

.product {
	position: relative;
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 1.5rem;
}

.preorder-tag {
	text-align: center;
	font-size: 0.8rem;
	font-weight: 600;
	letter-spacing: 2px;
	position: absolute;
	top: 5%;
	right: 0;
	padding: 0.5rem 1rem;
	background-color: #ff8b68;
	color: black;
}

.product-description-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product-description-top p {
	flex-shrink: 0;
	color: gray;
}

.middle-banner-section {
	background-image: url(https://monogramcc.com/static/fb6b98aa90bbce383e12a09c50936e96/9ee2a/shop-banner-module.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 50vh;
}

.middle-banner-text {
	width: 90%;
	max-width: 350px;
	margin: 0 auto;
	text-align: center;
	padding: 3rem 0;
	color: #1a2456;
}

.middle-banner-text p {
	font-size: 1.25rem;
	font-weight: 300;
	margin-top: 1rem;
}

.footer {
	display: flex;
	flex-direction: column-reverse;
	width: 90%;
	margin: 0 auto;
	padding: 3rem 0;
}

.footer-left {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	justify-content: space-between;
	margin-right: 4rem;
}

.footer-list-title {
	font-size: 0.8rem;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 1rem;
}

.footer-newsletter-email {
	margin: 1rem 0;
}

.footer-newsletter-email button {
	margin-left: 1rem;
	padding: 0.3rem 1.5rem;
	font-family: "Prompt", sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	background-color: #ffbba6;
	border: none;
	color: #1a2456;
	border-radius: 25px;
}

.product-img-hover {
	display: none;
}

.footer-newsletter-socialmedia {
	display: flex;
	gap: 0.5rem;
	margin-bottom: 3rem;
}

.socialmedia-icon {
	display: flex;
	width: 25px;
	height: 25px;
	padding: 0.4rem;
	background-color: #ffbba6;
	border-radius: 50px;
}

.desktop-nav {
	display: none;
}

.row {
	display: flex;
}
